@page "/"
@using System.Globalization
@using System.Net.Http.Headers
@using Common
@using Common.Data.Enums
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.IdentityModel.Tokens
@using ApexCharts
@using Common.Data.Dtos
@using WebClient.Components
@inject IConfiguration configuration
@inject NavigationManager Navigation
@inject IJSRuntime _jsRuntime;

<PageTitle>Chart</PageTitle>
<MudCard>
    <MudCardContent Class="d-flex gap-4">
        <div class = "flex-initial">
            <MudText Typo="Typo.h4">BTC/EUR:
                <MudText Inline="true" Typo="Typo.h4" Color="@(isUpTrend.HasValue ? (isUpTrend.Value ? MudBlazor.Color.Success : MudBlazor.Color.Error) : MudBlazor.Color.Default)"><b>@btcRate</b></MudText>
            </MudText>
        </div>
    </MudCardContent>
</MudCard>

@if (!username.IsNullOrEmpty())
{
    <MudText Class="mt-2" Typo="Typo.h5" Align="MudBlazor.Align.Center">Welcome back, @username!</MudText>
    <div class="d-flex gap-4">
        <MudCard>
            <MudCardContent Class="d-flex gap-4">
                <div class="flex-initial">
                    <MudText Typo="Typo.h5">
                        BTC wallet:
                        <MudText Inline="true" Typo="Typo.h5">@cryptoBalance</MudText>
                    </MudText>
                </div>
            </MudCardContent>
        </MudCard>
        <MudCard>
            <MudCardContent Class="d-flex gap-4">
                <div class="flex-initial">
                    <MudText Typo="Typo.h5">
                        EUR wallet:
                        <MudText Inline="true" Typo="Typo.h5">@fiatBalance</MudText>
                    </MudText>
                </div>
            </MudCardContent>
        </MudCard>
    </div>
}
else
{
    <h3>Welcome to the Bitcoin chart!</h3>
    <div>to see your balances you have to log in</div>
}

@if (hubConnection is not null)
{
    <BitcoinCandlestickGraph HubConnection="hubConnection">

    </BitcoinCandlestickGraph>
    <DepthChart HubConnection="hubConnection">

    </DepthChart>
        @if (!username.IsNullOrEmpty())
        {
            <EditForm Model="@model" OnValidSubmit="OnBidCreate">
                <MudGrid Class="flex-grow-1">
                    <MudItem xs="3" sm="7">
                        <MudCard>
                            <MudCardContent>
                                <MudTextField Label="Amount" @bind-Value="model.Amount" For="@(() => model.Amount)" Format="F2" Culture="@CultureInfo.InvariantCulture"/>
                            </MudCardContent>
                            <MudCardContent>
                                <MudTextField Label="Price" @bind-Value="model.Price" For="@(() => model.Price)" Format="F2" Culture="@CultureInfo.InvariantCulture"/>
                            </MudCardContent>
                            <MudCardContent>
                                <MudSelect @bind-Value="model.Type" Label="Select order type" HelperText="String" Placeholder="Please Select">
                                    <MudSelectItem Value="@OrderTypeEnum.Bid">Bid</MudSelectItem>
                                    <MudSelectItem Value="@OrderTypeEnum.Ask">Ask</MudSelectItem>
                                </MudSelect>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Class="ml-auto">Create Order</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </EditForm>
            <span style="color: red">@errorMsg</span>
            <span style="color: green">@okMsg</span>
        }
}




@code {
    private HubConnection hubConnection;
    private string errorMsg;
    private string okMsg;
    private decimal fiatBalance;
    private decimal cryptoBalance;
    private decimal btcRate;
    private string username;
    private bool? isUpTrend;
    private CreateOrderRequest model = new CreateOrderRequest();


    protected override async Task OnInitializedAsync()
    {
        string serverUrl = configuration.GetValue<string>("ServerUrl"); 
        username = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "username");

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri($"{serverUrl}/messages"), options =>
            {
                options.AccessTokenProvider = async () =>
                {
                    var token = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
                    return token;
                };
            })
            .WithAutomaticReconnect()
            .Build();


        hubConnection.On<AccountWalletDto>("WalletUpdate", (wallet) =>
        {
            if (wallet.Currency == Constants.FiatCurrency)
            {
                fiatBalance = wallet.Amount;
            }
            else if (wallet.Currency == Constants.CryptoCurrency)
            {
                cryptoBalance = wallet.Amount;
            }
            StateHasChanged();
        });

        hubConnection.On<decimal>("BtcRateUpdate", (rate) =>
        {
            if (btcRate != 0)
            {
                isUpTrend = rate >= btcRate;
            }
            btcRate = rate;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
        await hubConnection.InvokeAsync("ClientGetBitcoinRate");
        if (!string.IsNullOrEmpty(username))
        {
            await hubConnection.InvokeAsync("SubscribeToWalletUpdates");
            await hubConnection.InvokeAsync("ClientGetUserBalance");
        }

        StateHasChanged();
    }

    private async Task OnBidCreate(EditContext context)
    {
        errorMsg = string.Empty;
        okMsg = string.Empty;

        string serverUrl = configuration.GetValue<string>("ServerUrl");
        using var cli = new HttpClient();
        var token = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
        cli.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var response = await cli.PostAsJsonAsync($"{serverUrl}/orders/createOrder", model);
        if (response.IsSuccessStatusCode)
        {
            var text = await response.Content.ReadAsStringAsync();
            okMsg = text;
        }
        else
        {
            errorMsg = response.ReasonPhrase;
        }

        model = new();
        StateHasChanged();
    }

}